.css-h4y409-MuiList-root
{
padding-bottom: 0px !important;

}
.css-1x2jons-MuiFormControlLabel-asterisk
{
    display: none;
}
.FaHtml5{
    width: 20px;
    padding-right: 10px;
}
.MuiBox-root.css-19kzrtu
{
   padding: 15px;
}
